@import "tailwindcss";


@theme {
  --font-Header: Great Vibes, cursive;
}

@layer components {
  .form-input {
    @apply w-full border rounded-lg px-3 py-2 mb-5 focus:outline-none focus:ring focus:ring-blue-400;
  }

  .form-label {
    @apply mb-1 font-medium text-gray-700;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
  animation-delay: 2s;
}
