CLIENT_ORIGIN=your_client_origin
NODE_ENV=production_or_development
PORT=your_port
MONGO_URI=your_mongo_uri
UPSTASH_REDIS_REST_URL=your_upstash_rest_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_rest_token
JWT_SECRET=your_jwt_secret
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
GEMINI_API_KEY=your_gemini_api_key
GMAIL_EMAIL=your_gmail_or_other_email
GMAIL_APP_PASSWORD=your_gmail_app_password