@import "tailwindcss";

@theme {
  --font-Header: Great Vibes, cursive;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .form-input {
    @apply w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring focus:ring-blue-400 ;
  }

  .form-input-error {
    @apply w-full border rounded-lg px-3 py-2 text-red-500 placeholder:text-red-500 focus:outline-none focus:ring focus:ring-red-700;
  }

  .form-label {
    @apply mb-1 font-medium text-gray-700;
  }

  .form-label-error {
    @apply text-red-500;
  }

  .active-view{
    @apply border p-3 bg-gray-500;
  }

  .inactive-view {
    @apply border p-3 bg-gray-200 hover:opacity-90 transition
  }


}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
  animation-delay: 2s;
}
